body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
header {
    background: #0e22ff;
    color: white;
    padding: 13px;
    text-align: match parent;
}
#controls {
    padding: 10px;
    text-align: center;
}
#map-container {
    height: 320px; /* Ensure sufficient height */
    width: 100%;
    border: 1px solid #ccc;
}
#timeline {
    margin: 20px;
    text-align: center;
}
#info-panel {
    padding: 20px;
    background: white;
    border: 0px solid #ccc;
    margin: 20px;
}
#bloom-info {
    background: #1ce61c; /* Light green for bloom theme */
    padding: 15px;
    border-radius: 10px;
}
button {
    background: #003366;
    color: white;
    padding: 10px;
    border: black;
    cursor: pointer;
}
input {
    padding: 10px;
    margin-right: 10px;
}